<div class="card-deck">

  <div class="card">
    <%= image_tag @beer.picture, class:'card-img-top', 'heigth': '500px', 'width': '200px' %>
    <div class="card-body">
      <h5 class="card-title"><%= @beer.name %></h5>
      <p class="card-text"><%= @beer.description%></p>
      <p class="card-text"><%= @beer.price %></p>
       <p class="card-text"><%= @beer.available ? 'Disponible' : 'Agotada' %></p>
      <p class="card-text"><small class="text-muted">Last update: <% time_ago_in_words(@beer.created_at)%></small></p>
    <%= link_to "Edit", edit_beer_path(@beer)%>
     <%= link_to "Delete", delete_beer_path(@beer), method: :delete, data: {confirm: 'Are you sure?'} %>

    </div>
  </div>
 
  </div>

  <%= link_to "<<Back", root_path %>